<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

  <div *ngIf="productosService.cargando" class="sk-fading-circle">
    <div class="sk-circle1 sk-circle"></div>
    <div class="sk-circle2 sk-circle"></div>
    <div class="sk-circle3 sk-circle"></div>
    <div class="sk-circle4 sk-circle"></div>
    <div class="sk-circle5 sk-circle"></div>
    <div class="sk-circle6 sk-circle"></div>
    <div class="sk-circle7 sk-circle"></div>
    <div class="sk-circle8 sk-circle"></div>
    <div class="sk-circle9 sk-circle"></div>
    <div class="sk-circle10 sk-circle"></div>
    <div class="sk-circle11 sk-circle"></div>
    <div class="sk-circle12 sk-circle"></div>
  </div>

  <div *ngIf="!productosService.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

    <a *ngFor="let producto of productosService.productos" [routerLink]="['/item',producto.cod] "
      class="animate__animated animate__fadeIn rk-item ae-masonry__item"><img
        src="assets/productos/{{producto.url}}.jpg" alt="">
      <div class="item-meta">
        <h2>{{producto.titulo}} </h2>
        <p>{{producto.categoria}} </p>
      </div>
    </a>

  </div>
</section>